.header {
    display: grid;
    grid-template-columns: 20% auto;
    align-items: center;
    justify-items: center;

    h1 {
        position: absolute;
        left: 50%;
        margin: 1rem;
        width: max-content;
        transform: translateX(-50%);
    }
}
